/.probe
/.vscode
/coremods
/crash-reports
/aes
/local
/logs
/modernfix
/mods/.index/
/saves
/screenshots
/server-resource-packs
enabledPlayerParts.json
patchouli_data.json
rhino.local.properties
soundCategories.json
usercache.json
usernamecache.json
kubejs/config/probe-settings.json
XaeroWaypoints/